<nav>
  <%= link_to "Articles", articles_path %>
  <%= link_to "Tags", taggables_path %>
</nav>

<div class="taggables">
  <% @taggables.each do |taggable| %>
    <%= render taggable %>
  <% end %>
</div>
